#sectionCartoonsEmail .form-control, #sectionCartoonsEmail .form-control:focus {
	outline: none !important;
	border-color: white;
	box-shadow: 0 0 0 0;
	width: 70%;
	border-radius: 2px;
}

#sectionCartoonsEmail form button, #sectionCartoonsEmail form button:focus {
	background-color: var(--red);
	color: var(--white);
	outline: none !important;
	box-shadow: 0 0 0 0;
	border-color: transparent;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
}

#sectionCartoonsEmail .modal-content {
	display: flex;
	justify-content: center !important;
}
